.App{
min-height:100%;
}

html{
  height: 100%;
}

body{
  display: flex;
  flex-direction: column;
  height: 100vh; 
}

.main-content{
  flex: 1 0 auto;
}

.home-bg{
  position:absolute;
  background-image:url('./img/cherry-cake.jpg');
  width:100%;
  height:100%;
  background-size:cover;
  background-repeat: repeat-x;
  -webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
border-bottom: 3px solid #E6D896;
animation: fadeIn 2s;
}

.title{
  font-size:70px;
  margin-top:50px;
  justify-content: center;
  align-items:center;
  display:flex;
  text-align:center; 
  font-family: 'Charm', cursive;
  color:rgb(208, 191, 105);
}

.content{
  position:absolute;
  width:100%;
  top:100%;
  background-color: white ;
  height:auto;

}

.center{
  margin: auto;
  width: 50%;
}

.subheading{
  border-top: 1px solid rgba(230,216,150);
  font-size:20px;
  text-align:center;
  padding-top:18px;
  font-family: 'Roboto', sans-serif;
  color:rgba(230,216,150);

}

.fixed-top{
  position: fixed; 
}

.navbar-color{
background-color: rgba(17, 18, 18, 0.8) !important;
border-bottom-color: rgba(230,216,150);
border-bottom-style:solid;
}

.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(230,216,150, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}

.navbar-dark .navbar-toggler{
  border-color:rgba(230,216,150,0.5) !important;
}

a.nav-link{
  font-family: 'Roboto', sans-serif;
}

.navlink-style{
  color: #E6D896 !important;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
 
}

.navlink-style:hover{
  color:grey !important;
  text-decoration: none;
}

li.nav-item{
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 6px;
  margin-bottom: 6px;
}

.title-position{
  margin-top:130px;
}

.content-style{
  box-shadow: 2px 4px 10px grey;
  background-color:white;
}

.height-content{
  height: 670px;
}

.box-shadow-card{
  box-shadow: 2px 4px 10px black;
}

.font-roboto{
  font-family: 'Roboto', sans-serif;
}

.gold-color{
  color:rgb(192, 177, 101);
}

.card-btn{
  background-color: #E6D896 !important;
  border-color: white !important;
}

.card-btn:hover{
  color:grey !important;
  border-color:grey !important;
}

.responsive-img{
  max-width:100%;
  height:auto;
}

.border-img{
  border: solid #E6D896;
}

.fadeIn-cards{
  animation: fadeIn 3s ease-in forwards;
}

.revealOnScroll{
  opacity: 0;
}

.card-banner-start{
  font-family: 'Roboto', sans-serif;
  width:100%;
  height:100%;
  min-width: 100%;
  min-height: 100%;
  position:relative;
  display:block;
  color:white;
}


.card-banner-start::before{
  content: "";
  background-repeat:none;
  background-size:cover;
  position:absolute;
  z-index: 0;
 top: 0;
 left: 0;
 bottom: 0;
 right: 0;
 opacity: 0.3;
}

.about-card-bg{
  background-image:url('./img/papyrus-dark.png');
  background-repeat: repeat;
}

.card-banner-contact{
  font-family: 'Roboto', sans-serif;
  width:100%;
  height:100%;
  min-width: 100%;
  min-height: 100%;
  position:relative;
  display:block;
}


.card-banner-title{
  padding-top:50px;
  padding-bottom:10px;
  font-size: 50px;
  color:rgb(208, 191, 105);
}

.textbox-card{
  padding-top:20px;
  padding-bottom:50px;
  color: rgb(239, 230, 189) ;
}

.gallery-bg{
  background-image:url('./img/dark_wall_@2X.png')
  
}

.feedback-text{
  color:#E6D896;
}

.footer-text-head{
  color:#E6D896;
  font-size: 25px;
  text-align:center;
}

.btn-outline-secondary{
  border-color:#E6D896 !important;
  color: #E6D896 !important;
}

.btn-outline-secondary:hover{
  background-color: #E6D896 !important;
  color: black !important;
  border-color: white !important;
}

.form-control{
  background-color: rgb(36, 38, 38) !important;
  border-color: #E6D896 !important;
  color: white !important;
}

::placeholder{
  color: #E6D896 !important;
  opacity: 0.7 !important;
  font-size: 11px;
}


.footer{
  background-color: rgb(82, 81, 81);
  flex-shrink: 0;
  height:100%;
  background-image: url('./img/black-felt.jpg');
  background-repeat: repeat;
  border-top: solid #E6D896;
  width:100%;
  bottom: 0;
  left: 0;
}

.footer-padding{
  padding-left: none !important;
}

.footer-text{
  color: #E6D896;
  font-family: 'Roboto', sans-serif;
}

ul{
  list-style-type: none;
}

.cs-style{
  text-align: center;
  margin-top: 50px;
  padding-left: 0 !important;
}

.li-footer-style{
  padding-top: 7px;
  padding-bottom: 7px;
  text-align: center;
}

.footer-text:hover{
  color: lightgrey;
  text-decoration: none;
}

.footer-margin{
  margin-top: 40px;
}



@keyframes fadeIn{
  from {opacity: 0}
  to {opacity: 1}
}

.fade-in-title{
  opacity: 0;
  opacity: 1 \9; /* ie*/
  animation: fadeIn ease-in 1s 1s;
  animation-fill-mode: forwards;
}

.fade-in-subtitle{
  opacity: 0;
  opacity: 1 \9; /* ie*/
  animation: fadeIn ease-in 1s 1.3s;
  animation-fill-mode: forwards;
}