body{
    margin:0
}

.home-bg{
    position:absolute;
    background-image:url('img/cupcake-bg.jpg');
    width:100%;
    height:100%;
    background-size:cover;
    background-repeat: repeat-x;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.title{
    font-size:70px;
    margin-top:50px;
    justify-content: center;
    align-items:center;
    display:flex;
    text-align:center; 
    font-family: 'Charm', cursive;

}

.content{
    position:absolute;
    width:100%;
    top:100%;
    height:300px;
    background-color:pink;

}

.center{
    margin: auto;
    width: 50%;
}

.subheading{
    border-top: 1px solid black;
    font-size:20px;
    text-align:center;
    padding-top:18px;
}

.navbar-color{
  background-color: rgb(97, 98, 98, 0.1) !important;
}

.title-position{
    margin-top:100px;
}

